#modal-form {

    @extend .black-text;

    .modal-title {
        font-size: 1.4rem;
        margin-bottom: 15px;
        line-height: 1.2;
    }

    .checkbox-field{
        margin-bottom: 15px;

        label{

            font-size: .8rem;
            line-height: 1.2;

            a{
                @extend .black-text;
            }
        }
    }


}